/* layout */
.layout {display: flex}
.layout-horizontal {flex-direction: row}
.layout-vertical {flex-direction: column}
.layout .spacer {flex-grow: 2}
/* layout */

/* widget */
.widget { box-shadow: 1px 1px 5px 2px gainsboro; border-radius: 5px; width: 100%; overflow: hidden; background-color: white }
.widget > .header { margin: 10px }
.widget > .header > h2 { font-size: 20px; font-weight: bold }
.widget > .body { margin: 5px }
.widget > .footer { margin: 5px; overflow: hidden; }
/* widget */

/* progress-bar */
.progress.progress-bar { width: 100%; }
.progress.progress-bar > .bar { height: 10px; background-color: #0000fe; content: "&nbsp";}
/* progress-bar */

/* list */
.list {margin: 0; padding: 0; list-style-type: none;}
/* list */

/* results-list */
#results-list {width: 100%; overflow: hidden;}
#results-list > .item:nth-child(2n+1) {background-color: gainsboro}
#results-list .data {margin-right: 5px; display: flex; align-items: center;}
#results-list .data:last-child {margin-right: 0}
#results-list .data-ranking {width: 25px; justify-content: flex-end; margin-right: 10px}
#results-list .data-racer {flex-grow: 2;}
#results-list .data-racer .data-name {font-size: 16px; font-weight: bold; }
#results-list .data-racer .data-club {font-size: 14px; margin-top: 5px}
#results-list .data-country {width: 50px; justify-content: center}
#results-list .data-country > img {width: 50px}
#results-list .data-time {width: 75px; justify-content: center}
/* results-list */

/* slider */
.slider {display: block; width: 100%; overflow: hidden;; padding: 5px}
.slider > .view {display: block; position: relative;}
.slider > .view > .content {display: block; white-space: nowrap; width: auto}
.slider > .view > .content > .widget {margin-right: 1%; width: 30%; display: inline-block}
.slider > .view > .content > .widget:last-child {margin-right: 0}
/* slider */

/* grid */
.grid {display: block; width: 100%; height: 100%; overflow: hidden;}
.grid > .view {display: block; position: relative; padding: 5px}
.grid > .view > .content {display: flex;}
.grid > .view > .content > .widget {margin-right: 10px; width: 100%;}
.grid > .view > .content > .widget:last-child {margin-right: 0}
/* grid */