/* page */
.page > .body { padding: 10px; display: flex; flex-direction: row; flex-wrap: wrap }
/* page */

/* widget */
.widget { box-shadow: 1px 1px 5px 2px gainsboro; border-radius: 5px; margin: 10px; width: 100%; overflow: hidden }
.widget > .header { padding: 10px }
.widget > .header > h2 { font-size: 20px; font-weight: bold }
.widget > .body { padding: 5px }
/* widget */

/* progress-bar */
.progress.progress-bar { width: 100%; }
.progress.progress-bar > .bar { height: 5px; background-color: #0000fe; content: "&nbsp";}
/* progress-bar */

/* list */
.list {margin: 0; padding: 0; list-style-type: none; display: flex}
.list-horizontal {flex-direction: row}
.list-vertical {flex-direction: column}
/* list */

/* results-list */
#results-list {width: 100%}
#results-list > .item:nth-child(2n+1) {background-color: gainsboro}
#results-list .data {margin-right: 5px; display: flex; align-items: center;}
#results-list .data:last-child {margin-right: 0}
#results-list .data-ranking {width: 25px; justify-content: flex-end; margin-right: 10px}
#results-list .data-racer {flex-grow: 2;}
#results-list .data-racer .data-name {font-size: 18px; font-weight: bold; margin-bottom: 5px}
#results-list .data-racer .data-club {font-size: 14px}
#results-list .data-country {width: 50px; justify-content: center}
#results-list .data-country > img {width: 50px}
#results-list .data-time {width: 75px; justify-content: center}
/* results-list */